---
permalink: /
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ site.description }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        {% if site.favicon %}
        <link rel="shortcut icon" href="{{ site.favicon }}" />
        {% endif %}
        <link rel="stylesheet" href="{{ "css/front.css" | prepend: site.baseurl }}">
    </head>
    <body>
        <div class="content">
            {% if site.bg_img %}
            <img src="{{ site.bg_img }}" id="fullscreen">
            {% endif %}
            {% if site.avatar %}
            <img src="{{ site.avatar }}" id="avatar">
            {% endif %}

            <h1>{{ site.name }}</h1>
            <h2>{{ site.description }}</h2>
            <ul>
                {% if site.GitHub %}
                <li>
                    <a href="https://github.com/{{ site.GitHub }}">
                        <span class="description">GitHub Account</span>
                        <span id="github" class="accounts"></span>
                    </a>
                </li>
                {% endif %}
                {% if site.GitLab %}
                <li>
                    <a href="https://gitlab.com/{{ site.GitLab }}">
                        <span class="description">GitLab Account</span>
                        <span id="gitlab" class="accounts"></span>
                    </a>
                </li>
                {% endif %}
                {% if site.AngelList %}
                <li>
                    <a href="https://angel.co/u/{{ site.AngelList }}">
                        <span class="description">AngelList Account</span>
                        <span id="angellist" class="accounts"></span>
                    </a>
                </li>
                {% endif %}
                {% if site.DeviantArt %}
                <li>
                    <a href="https://www.deviantart.com/{{ site.DeviantArt }}">
                        <span class="description">DeviantArt Account</span>
                        <span id="deviantart" class="accounts"></span>
                    </a>
                </li>
                {% endif %}
                {% if site.IMDB %}
                <li>
                    <a href="https://www.imdb.com/user/{{ site.IMDB }}">
                        <span class="description">IMDB Account</span>
                        <span id="imdb" class="accounts"></span>
                    </a>
                </li>
                {% endif %}
                {% if site.Telegram %}
                <li>
                    <a href="https://t.me/{{ site.Telegram }}">
                        <span class="description">Telegram Account</span>
                        <span id="telegram" class="accounts"></span>
                    </a>
                </li>
                {% endif %}
                {% if site.Skype %}
                <li>
                    <a href="https://join.skype.com/invite/{{ site.Skype }}">
                        <span class="description">Skype Account</span>
                        <span id="skype" class="accounts"></span>
                    </a>
                </li>
                {% endif %}
                {% if site.Slack_space %}
                <li>
                    <a href="https://{{ site.Slack_space }}.slack.com">
                        <span class="description">Slack Account</span>
                        <span id="slack_space" class="accounts"></span>
                    </a>
                </li>
                {% endif %}
                {% if site.Spotify %}
                <li>
                    <a href="https://open.spotify.com/user/{{ site.Spotify }}">
                        <span class="description">Spotify Account</span>
                        <span id="spotify" class="accounts"></span>
                    </a>
                </li>
                {% endif %}
                {% if site.CodePen %}
                <li>
                    <a href="https://codepen.io/{{ site.CodePen }}">
                        <span class="description">CodePen Account</span>
                        <span id="codepen" class="accounts"></span>
                    </a>
                </li>
                {% endif %}
                {% if site.Facebook %}
                <li>
                    <a href="https://facebook.com/{{ site.Facebook }}">
                        <span class="description">Facebook Account</span>
                        <span id="facebook" class="accounts"></span></a>
                </li>
                {% endif %}
                {% if site.VK %}
                <li>
                    <a href="https://vk.com/{{ site.VK }}">
                        <span class="description">ВКонтакте Account</span>
                        <span id="vk" class="accounts"></span>
                    </a>
                </li>
                {% endif %}
                {% if site.Twitter %}
                <li>
                    <a href="https://twitter.com/{{ site.Twitter }}">
                        <span class="description">Twitter Account</span>
                        <span id="twitter" class="accounts"></span>
                    </a>
                </li>
                {% endif %}
                {% if site.LinkedIN %}
                <li>
                    <a href="https://linkedin.com/in/{{ site.LinkedIN }}">
                        <span class="description">LinkedIn Account</span>
                        <span id="linkedin" class="accounts"></span>
                    </a>
                </li>
                {% endif %}
                {% if site.Vine %}
                <li>
                    <a href="https://vine.co/{{ site.Vine }}">
                        <span class="description">Vine Account</span>
                        <span id="vine" class="accounts"></span>
                    </a>
                </li>
                {% endif %}
                {% if site.Instagram %}
                <li>
                    <a href="https://instagram.com/{{ site.Instagram }}">
                        <span class="description">Instagram Account</span>
                        <span id="instagram" class="accounts"></span>
                    </a>
                </li>
                {% endif %}
                {% if site.Flickr %}
                <li>
                    <a href="https://flickr.com/photos/{{ site.Flickr }}">
                        <span class="description">Flickr Account</span>
                        <span id="flickr" class="accounts"></span>
                    </a>
                </li>
                {% endif %}
                {% if site.Steam %}
                <li>
                    <a href="https://steamcommunity.com/id/{{ site.Steam }}">
                        <span class="description">Steam Account</span>
                        <span id="steam" class="accounts"></span>
                    </a>
                </li>
                {% endif %}
                {% if site.SoundCloud %}
                <li>
                    <a href="https://soundcloud.com/{{ site.SoundCloud }}">
                        <span class="description">Soundcloud Account</span>
                        <span id="soundcloud" class="accounts"></span>
                    </a>
                </li>
                {% endif %}
                {% if site.LastFM %}
                <li>
                    <a href="https://www.last.fm/user/{{ site.LastFM }}">
                        <span class="description">Last.fm Account</span>
                        <span id="lastfm" class="accounts"></span>
                    </a>
                </li>
                {% endif %}
                {% if site.Stack %}
                <li>
                    <a href="https://stackoverflow.com/users/{{ site.Stack }}">
                        <span class="description">Stack overflow Account</span>
                        <span id="stack" class="accounts"></span>
                    </a>
                </li>
                {% endif %}
                {% if site.Reddit %}
                <li>
                    <a href="https://reddit.com/user/{{ site.Reddit }}">
                        <span class="description">Reddit Account</span>
                        <span id="reddit" class="accounts"></span>
                    </a>
                </li>
                {% endif %}
                {% if site.Medium %}
                <li>
                    <a href="https://medium.com/@{{ site.Medium }}">
                        <span class="description">Medium Account</span>
                        <span id="medium" class="accounts"></span>
                    </a>
                </li>
                {% endif %}
                {% if site.Tumblr %}
                <li>
                    <a href="https://{{ site.Tumblr }}.tumblr.com/">
                        <span class="description">Tumblr Account</span>
                        <span id="tumblr" class="accounts"></span>
                    </a>
                </li>
                {% endif %}
                {% if site.Weibo %}
                <li>
                    <a href="https://weibo.com/{{ site.Weibo }}">
                        <span class="description">微博 Account</span>
                        <span id="weibo" class="accounts"></span>
                    </a>
                </li>
                {% endif %}
                {% if site.Blog %}
                <li>
                    <a href="{{ site.baseurl }}{{ site.Blog }}">
                        <span class="description">My Blog</span>
                        <span id="blog" class="accounts"></span>
                    </a>
                </li>
                {% endif %}
                {% if site.Email %}
                <li>
                    <a href="mailto:{{ site.Email }}">
                        <span class="description">Email Address</span>
                        <span id="email" class="accounts"></span>
                    </a>
                </li>
                {% endif %}
                {% if site.Public_Key %}
                <li>
                    <a href="{{ site.Public_Key }}">
                        <span class="description">My PGP Key</span>
                        <span id="public_key" class="accounts"></span>
                    </a>
                </li>
                {% endif %}
            </ul>
            {% if site.last_sentence %}
            <div>
              <h3>{{ site.last_sentence }}</h3>
            </div>
            {% endif %}
        </div>
    </body>
</html>
